<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.png" alt="INTI Space">
                    </a>
                    <ul class="nav">
                        <li><a href="index.html" class="{{ACTIVE_INDEX}}">Inicio</a></li>
                        <li><a href="browse.html" class="{{ACTIVE_BROWSE}}">Explorar</a></li>
                        <li><a href="streams.html" class="{{ACTIVE_STREAMS}}">Recursos</a></li>
                        <li><a href="profile.html" class="{{ACTIVE_PROFILE}}">Equipo</a></li>
                    </ul>
                    <a class='menu-trigger'><span>Menu</span></a>
                </nav>
            </div>
        </div>
    </div>
</header>
